Source: eos-plymouth-theme
Section: admin
Priority: optional
Maintainer: Srdjan Grubor <sgnn7@sgnn7.org>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 8.1.2)
Homepage: http://endlessm.com

Package: eos-plymouth-theme
Architecture: all
Depends: ${misc:Depends},
         plymouth (>=0.8.2),
         plymouth-drm
Description: Endless OS theme for Plymouth
 Endless OS theme for Plymouth designed to make the boot
 experience more consistent
