Source: eos-plymouth-theme
Section: admin
Priority: optional
Maintainer: Endless OS Maintainers <maintainers@endlessm.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 8.1.2)
Homepage: https://endlessos.com

Package: eos-plymouth-theme
Architecture: all
Depends: ${misc:Depends},
         plymouth (>=0.8.2),
         plymouth-themes,
         eos-plymouth-theme-logos (= ${binary:Version})
Description: Endless OS theme for Plymouth
 Endless OS theme for Plymouth designed to make the boot
 experience more consistent

Package: eos-plymouth-theme-logos
Architecture: all
Depends: ${misc:Depends}
Breaks: eos-plymouth-theme (<<1.3.0~rc1+dev36.9650772)
Replaces: eos-plymouth-theme (<<1.3.0~rc1+dev36.9650772)
Description: Endless OS theme for Plymouth logos
 Logos used in the Endless OS theme for Plymouth
